.row.container
  .form-section.col.s12.m8.offset-m2
    = form_for :article, url: {action: "update"}, html: {class: "post"}, method: :patch do |f|
      %h3.form-title.center-align
        編集する
      .field.file_field.input-field
        - if @article.thumbnail?
          = f.file_field :thumbnail, class: "image-file", style: "display: none;"
          %btn.btn-floating.btn-large.waves-effect.waves-light.left.image-up
            %i.material-icons image
          = image_tag @article.thumbnail(:medium), class: "edit-eye-catch"
        - else
          = f.file_field :thumbnail, class: "image-file"
          %btn.btn-floating.btn-large.waves-effect.waves-light.left.image-up
            %i.material-icons image
      .preview
      .field.input-field
        = f.text_field :title, name: 'title', value: "#{@article.title}", placeholder: "タイトル", class: "editor-title"
      .field.input-field
        = f.text_area :text, name: "text", valiue: "#{@article.title}", id: "textarea1", cols: "30", class: "editor-text materialize-textarea", contenteditable: "true"
      .field
        = f.submit "更新する", class: 'waves-effect waves-light btn-large'
        = f.submit "下書きに戻す", name: "draft", class: 'white grey-text text-darken-3 waves-effect btn-large'
